# Project exclude paths
/eurekaclient_01/target/
/eurekaclient_01_2/target/
/eurekaclient_02/target/
/eurekaserver/target/
/feign/target/
/hystrix/target/
/nativeconfigclient/target/
/nativeconfigserver/target/
/ribbon/target/
/zuul/target/